MONGODB_URI="mongodb+srv://username_here:password_here@taskmanger.7tgaa.mongodb.net"
DB_NAME="task"

PORT=5000

# CORS SETUP 
ORIGIN="http://localhost:5000"
ALLOWED_METHODS="get post put option delete"